h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.bloco {
    display: -flex;    
}

#txt {
    font: normal 13pt arial;
}

#verificar {
    width: 100px;
    font: normal 13pt arial; 
}

p {
    font: normal 17pt arial;
}